.elementor-3238 .elementor-element.elementor-element-2765b29 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-3238 .elementor-element.elementor-element-dab7ed2 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-3238 .elementor-element.elementor-element-0f78c9b .hfe-site-logo-container,
.elementor-3238 .elementor-element.elementor-element-0f78c9b .hfe-caption-width figcaption {
    text-align: center;
}

.elementor-3238 .elementor-element.elementor-element-0f78c9b .hfe-site-logo .hfe-site-logo-container img {
    width: 58%;
}

.elementor-3238 .elementor-element.elementor-element-0f78c9b .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-3238 .elementor-element.elementor-element-0f78c9b .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-3238 .elementor-element.elementor-element-67d2e31 {
    text-align: center;
}

.elementor-3238 .elementor-element.elementor-element-67d2e31 .elementor-heading-title {
    color: #555656;
}

.elementor-3238 .elementor-element.elementor-element-e51b2a3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-3238 .elementor-element.elementor-element-709ea7e .elementor-heading-title {
    color: #555656;
}

.elementor-3238 .elementor-element.elementor-element-af0cbce .hfe-nav-menu__toggle {
    margin: 0 auto;
}

.elementor-3238 .elementor-element.elementor-element-af0cbce .menu-item a.hfe-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-3238 .elementor-element.elementor-element-af0cbce .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 15px + 20px);
    padding-right: 15px;
}

.elementor-3238 .elementor-element.elementor-element-af0cbce .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 40px);
    padding-right: 15px;
}

.elementor-3238 .elementor-element.elementor-element-af0cbce .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 60px);
    padding-right: 15px;
}

.elementor-3238 .elementor-element.elementor-element-af0cbce .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 80px);
    padding-right: 15px;
}

.elementor-3238 .elementor-element.elementor-element-af0cbce .menu-item a.hfe-menu-item,
.elementor-3238 .elementor-element.elementor-element-af0cbce .menu-item a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-3238 .elementor-element.elementor-element-af0cbce .sub-menu,
.elementor-3238 .elementor-element.elementor-element-af0cbce nav.hfe-dropdown,
.elementor-3238 .elementor-element.elementor-element-af0cbce nav.hfe-dropdown-expandible,
.elementor-3238 .elementor-element.elementor-element-af0cbce nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-3238 .elementor-element.elementor-element-af0cbce nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
}

.elementor-3238 .elementor-element.elementor-element-af0cbce .sub-menu a.hfe-sub-menu-item,
.elementor-3238 .elementor-element.elementor-element-af0cbce nav.hfe-dropdown li a.hfe-menu-item,
.elementor-3238 .elementor-element.elementor-element-af0cbce nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-3238 .elementor-element.elementor-element-af0cbce nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-3238 .elementor-element.elementor-element-af0cbce nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-3238 .elementor-element.elementor-element-af0cbce .sub-menu li.menu-item:not(:last-child),
.elementor-3238 .elementor-element.elementor-element-af0cbce nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-3238 .elementor-element.elementor-element-af0cbce nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-3238 .elementor-element.elementor-element-a6622f3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-3238 .elementor-element.elementor-element-209957f .elementor-heading-title {
    color: #556565;
}

.elementor-3238 .elementor-element.elementor-element-c2a59ae .hfe-nav-menu__toggle {
    margin: 0 auto;
}

.elementor-3238 .elementor-element.elementor-element-c2a59ae .menu-item a.hfe-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-3238 .elementor-element.elementor-element-c2a59ae .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 15px + 20px);
    padding-right: 15px;
}

.elementor-3238 .elementor-element.elementor-element-c2a59ae .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 40px);
    padding-right: 15px;
}

.elementor-3238 .elementor-element.elementor-element-c2a59ae .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 60px);
    padding-right: 15px;
}

.elementor-3238 .elementor-element.elementor-element-c2a59ae .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 80px);
    padding-right: 15px;
}

.elementor-3238 .elementor-element.elementor-element-c2a59ae .menu-item a.hfe-menu-item,
.elementor-3238 .elementor-element.elementor-element-c2a59ae .menu-item a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-3238 .elementor-element.elementor-element-c2a59ae .sub-menu,
.elementor-3238 .elementor-element.elementor-element-c2a59ae nav.hfe-dropdown,
.elementor-3238 .elementor-element.elementor-element-c2a59ae nav.hfe-dropdown-expandible,
.elementor-3238 .elementor-element.elementor-element-c2a59ae nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-3238 .elementor-element.elementor-element-c2a59ae nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
}

.elementor-3238 .elementor-element.elementor-element-c2a59ae .sub-menu a.hfe-sub-menu-item,
.elementor-3238 .elementor-element.elementor-element-c2a59ae nav.hfe-dropdown li a.hfe-menu-item,
.elementor-3238 .elementor-element.elementor-element-c2a59ae nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-3238 .elementor-element.elementor-element-c2a59ae nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-3238 .elementor-element.elementor-element-c2a59ae nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-3238 .elementor-element.elementor-element-c2a59ae .sub-menu li.menu-item:not(:last-child),
.elementor-3238 .elementor-element.elementor-element-c2a59ae nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-3238 .elementor-element.elementor-element-c2a59ae nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-3238 .elementor-element.elementor-element-5250f82 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

@media(min-width:768px) {
    .elementor-3238 .elementor-element.elementor-element-dab7ed2 {
        --width: 25%;
    }
    .elementor-3238 .elementor-element.elementor-element-e51b2a3 {
        --width: 25%;
    }
    .elementor-3238 .elementor-element.elementor-element-a6622f3 {
        --width: 25%;
    }
    .elementor-3238 .elementor-element.elementor-element-5250f82 {
        --width: 25%;
    }
}